*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
   
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.voting_section{
    width: 100vw;
    height: 100vh;
    aspect-ratio: 1;
    background-color: #DFF2EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50vw;
    height: 50vh;
    background-color:#7AB2D3;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #4A628A;
    
    & form label,input {
       margin-top: 0.5rem;
       width: 100%;
       padding: 0.5rem;
       color: #4A628A;
       font-size: 1.3rem;
       border-radius: 0.5rem ;
       -webkit-border-radius: 0.5rem ;
       -moz-border-radius: 0.5rem ;
       -ms-border-radius: 0.5rem ;
       -o-border-radius: 0.5rem ;
       border: none;
}
    & button {
        background-color:#4A628A;
        padding: 0.8rem;
        color: #DFF2EB;
        border: none;
        font-size: 1.2rem;
        margin-top: 0.5rem ;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.5rem;
        -moz-border-radius: 0.5rem;
        -ms-border-radius: 0.5rem;
        -o-border-radius: 0.5rem;
    }
    & button:hover{
        background-color: #4A628A;
        color: goldenrod;
    }
    & h1{
        font-size: 3rem;
        font-family: poppins;
    }
    & p{
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

}